In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('prices.csv')
df.head(20)

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25
5,11-01-2023,35.0,16,18.0,24,25,55,23,6,35.0,30
6,12-01-2023,40.0,16,18.0,22,30,65,23,6,35.0,30
7,15-01-2023,42.0,16,17.0,22,25,65,23,7,35.0,30
8,17-01-2023,35.0,16,18.0,22,30,65,22,10,40.0,35
9,22-01-2023,45.0,16,18.0,22,40,65,25,9,40.0,35
10,23-01-2023,42.0,16,18.0,22,50,65,25,8,40.0,35
11,24-01-2023,45.0,16,16.0,22,60,65,28,15,35.0,30
12,25-01-2023,40.0,16,16.0,20,70,65,25,15,35.0,25
13,27-01-2023,35.0,16,17.0,17,50,65,25,15,35.0,25
14,29-01-2023,35.0,16,15.0,18,40,65,30,15,35.0,25
15,30-01-2023,40.0,16,14.0,17,50,65,30,15,35.0,30
16,31-01-2023,40.0,16,13.5,18,50,65,30,15,35.0,30
17,01-02-2023,42.5,16,13.0,17,50,65,30,12,45.0,30
18,02-02-2023,35.0,16,13.0,17,40,65,30,12,42.0,30
19,03-02-2023,40.0,16,12.5,16,40,65,30,14,40.0,25